.team-heading {
  background-color: #81c3d4;
  color: #fff;
}
.team-heading h1 {
  text-transform: uppercase;
}

.employee-card {

}

.card-header {
  background-color: #7cb6c4;
  color: #fff;
}

.card-header h2 {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.card-header h3 {
  font-weight: 400;
  color: #fff;
  font-size: 1.15rem;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 10px;
}